.app-content {
  width: 100%;
  height: 100%;
  background: var(--el-bg-color);
  border-top: 1px solid var(--el-border-color);
  padding: 12px 12px;
  color: var(--el-text-color-primary);
  overflow: hidden;
}
.app-content-menu {
  background: var(--menuBg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  .el-scrollbar {
    .scrollbar-wrapper {
      flex: 1;
      overflow: auto;
      .el-menu-vertical-demo {
        border-right: none; // 多出来1px

        &:not(.el-menu--collapse) {
          width: 200px;
          height: calc(100vh - 260px);
        }
      }
    }
  }
}

.logo-bg {
  background-color: var(--menuBg);
  height: 58px;
  svg {
    display: block;
  }
}

.horizontal {
  width: 100%;
  display: flex;
  align-items: center;
  height: 58px;
  .logo-vue {
    width: 200px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .horizontal-content {
    height: 100%;
    flex: 1;
    overflow: hidden;
    border-bottom: none !important;
  }
}
.mix-horizontal {
  width: 100%;
  height: 100%;
  display: flex;
  &-content {
    flex: 1;
    overflow: hidden;
    border-bottom: none !important;
  }
}

.side-bar-position {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: rgb(000, 000, 000, 0.4);
  left: 0;
  top: 0;
  z-index: 999;
  .side-bar-left {
    width: 200px;
    height: 100%;
    background-color: var(--el-bg-color);
    animation: 1s sideBarAnimation;
  }
  @keyframes sideBarAnimation {
    0% {
      width: 0px;
    }
    100% {
      width: 200px;
    }
  }
}

.tag-active {
  color: var(--el-text-color-primary) !important;
  background-color: var(--el-bg-color) !important;
  border-color: var(--el-border-color) !important;
  svg {
    // color: var(--el-text-color-primary);
  }
  &:hover {
    i svg {
      // color: #fff;
    }
  }
}

.nav-right-button {
  min-width: 40px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &:hover {
    background-color: #f6f6f6;
    color: #000;
    cursor: pointer;
    svg {
      color: #000;
    }
  }
}
.nav-right-button-notice {
  @extend .nav-right-button;
  min-width: 56px;
}
.description {
  color: var(--el-color-primary);
}
