@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './taiwindcss/index.scss';

:root{
  --el-color-paimary: yellow;
  --color-gray-50: #fafbfc;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e6e8ed;
 --color-gray-300: #d3d8e0;
  --color-gray-400: #9ca3af;
 --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
 --color-gray-700: #333c4d;
 --color-gray-800: #222b3b;
--color-gray-900: #111826;
}
body {
  margin: 0;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}
.el-link.el-link--primary:hover{
  color: var(--el-color-paimary);
}
#nprogress {
  & .bar {
    background-color: var(--el-color-primary) !important;
  }
  & .peg {
    box-shadow: 0 0 10px var(--el-color-primary), 0 0 5px var(--el-color-primary) !important;
  }
  & .spinner-icon {
    border-top-color: var(--el-color-primary);
    border-left-color: var(--el-color-primary);
  }
}

