/* 菜单选中后字体样式 */
$subMenuActiveText: #fff !default;

/* 菜单背景 */
$menuBg: #001529 !default;
/* dark 菜单背景*/
$menuBgDark: #ffffff !default;

/* 鼠标覆盖到菜单时的背景 */
$menuHover: #0b274b !default;

/* 子菜单背景 */
$subMenuBg: #0f0303 !default;

/* 有无子集的激活菜单背景 */
$subMenuActiveBg: var(--el-color-primary-light-3) !default;
$menuText: rgb(254 254 254 / 65%) !default;

/* 鼠标覆盖到菜单时的字体颜色 */
$menuTitleHover: #fff !default;
$menuTitleHoverDark: #000 !default;

:root[data-theme=''] {
  --color-gray-50: #fafbfc;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e6e8ed;
  --color-gray-300: #d3d8e0;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #333c4d;
  --color-gray-800: #222b3b;
  --color-gray-900: #111826;
  // --grayscale: grayscale(0);
  --bg-body-light: #fff;
  --backgroudcolor: #272a36;
  --main-content-bg: var(--bg-body-light);
  --main-car-components: white;
  /* 菜单选中后字体样式 */
  --subMenuActiveText: #{$subMenuActiveText};
  /* 菜单背景 */
  --menuBg: #{$menuBg};
  /* 鼠标覆盖到菜单时的背景 */
  --menuHover: #{$menuHover};
  /* 子菜单背景 */
  --subMenuBg: #{$subMenuBg};
  /* 有无子集的激活菜单背景 */
  --subMenuActiveBg: #{$subMenuActiveBg};
  --menuText: #{$menuText};
  /* 鼠标覆盖到菜单时的字体颜色 */
  /* 鼠标覆盖到菜单时的字体颜色 */
  --menuTitleHover: #{$menuTitleHover};
}

:root[data-theme='dark'] {
  --color-gray-50: #fafbfc;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e6e8ed;
  --color-gray-300: #d3d8e0;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #333c4d;
  --color-gray-800: #222b3b;
  --color-gray-900: #111826;
  // --grayscale: grayscale(0);
  --bg-body-dark: white;
  // --backgroudcolor: white;
  --main-content-bg: var(--bg-body-dark);
  --main-car-components: var(--bg-body-dark);

  // /* 菜单选中后字体样式 */
  // --subMenuActiveText: $subMenuActiveText;
  // /* 菜单背景 */
  --menuBg: #{$menuBgDark};
  // /* 鼠标覆盖到菜单时的背景 */
  // --menuHover: $menuHover;
  // /* 子菜单背景 */
  // --subMenuBg: $subMenuBg;
  // /* 有无子集的激活菜单背景 */
  --subMenuActiveBg: var(--el-color-primary-light-9);
  // --menuText: $menuText;
  // /* 鼠标覆盖到菜单时的字体颜色 */
  // /* 鼠标覆盖到菜单时的字体颜色 */
  --menuTitleHover: var(--el-color-primary);
  --menuBorder: var(--color-gray-200);
}
